section#enhanced_pobretv {
  display: flex;
  margin: 0;
  padding: 0;
  flex: 1;
  width: 100%;
}

section#enhanced_pobretv > p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .slider-nav {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  div.content-episodes {
    flex-direction: row;
    flex-wrap: nowrap !important;
    overflow-y: auto !important;
    overflow-x: scroll;
  }
}
