.List {
  display: flex;
  flex-direction: row !important;
  column-gap: 10px;
  justify-content: start;
  margin-bottom: 30px !important;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

@media screen and (max-width: 768px) {
  .List {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .List::-webkit-scrollbar {
    display: none;
  }
}

.Scroll {
  display: flex;
  flex-direction: column !important;
  max-width: 100%;
  padding: 0px 48px;
}

.Title {
  color: #fff;
  margin-bottom: 20px;
}

.Snap {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
